<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionName="1.2.5" package="com.im.xfextensions" android:versionCode="6">
	<uses-sdk android:minSdkVersion="15" android:targetSdkVersion="22" />
	<application android:label="XFExt Sample"></application>
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
</manifest>